<div class="container">
    <nz-card [nzTitle]="cardTitle" class="border-2 border-light-subtle">
        <ng-template #cardTitle>
            <div class="d-flex justify-content-between align-items-center">
                <div style="font-size: 30px;" class="text-center py-0 fw-bold badge text-bg-primary text-wrap py-1">{{title}}</div>
                <button nz-button routerLink="/pstAdd" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="ant-btn nz-btn btn-primary mb-2 d-flex justify-content-center">
                    <span class="material-symbols-outlined">add</span>
                    <span>เพิ่มตำแหน่ง</span>
                </button>
            </div>
        </ng-template>
        <div class="table-data mat-elevation-z8 shadow-none">
            <table mat-table [dataSource]="dataSource" class="table table-hover mat-elevation-z8 shadow-none">
                <!-- Column id -->
                <ng-container matColumnDef="position_id">
                    <th mat-header-cell *matHeaderCellDef id="column_position_id" class="text-center"> รหัสตำแหน่ง</th>
                    <td mat-cell *matCellDef="let item" class="text-center">{{item.position_id}}</td>
                </ng-container>

                <!-- Column name -->
                <ng-container matColumnDef="position_name">
                    <th mat-header-cell *matHeaderCellDef id="column_position_name" class="text-center"> ชื่อตำแหน่ง
                    </th>
                    <td mat-cell *matCellDef="let item" class="text-center"> {{item.position_name}}</td>
                </ng-container>

                <!-- Column email -->
                <ng-container matColumnDef="salary">
                    <th mat-header-cell *matHeaderCellDef id="column_salary" class="text-center"> เงินเดือน</th>
                    <td mat-cell *matCellDef="let item" class="text-center"> {{item.salary}} </td>
                </ng-container>


                <!-- Column salary -->
                <ng-container matColumnDef="phone_number">
                    <th mat-header-cell *matHeaderCellDef id="column_phone_number" class="text-center"> เบอร์มือถือ
                    </th>
                    <td mat-cell *matCellDef="let item" class="text-center"> {{item.phone_number}} </td>
                </ng-container>

                <!-- Column Actions -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef id="column_actions" class="text-center"> จัดการ </th>
                    <td mat-cell *matCellDef="let item" class="text-center d-flex gap-2">

                        <button nz-button nzType="default" [routerLink]="'/pstUpdate/' + item.position_id"
                            routerLinkActive="active" ariaCurrentWhenActive="page" class="btn-edit">
                            <span nz-icon nzType="edit" nzTheme="outline"></span>
                        </button>

                        <button nz-button nzType="primary" nzDanger="" ariaCurrentWhenActive="page"
                            (click)="deletePosition(item.position_id)">
                            <span nz-icon nzType="delete" nzTheme="outline"></span>
                        </button>

                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
        </div>
    </nz-card>
</div>